includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
      - src
    exceptions:
        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true
        uncheckedExceptionClasses:
            - 'LogicException'
    inferPrivatePropertyTypeFromConstructor: true
