parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$error_handler of function set_error_handler expects \\(callable\\(int, string, string, int, array\\)\\: bool\\)\\|null, Closure\\(mixed\\)\\: void given\\.$#"
			count: 1
			path: src/Stream.php

